PORT=3000
DB_HOST=postgres
DB_PORT=5432
DB_NAME=gestoriq
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=change_this_secret
NODE_ENV=development
DB_SYNC=true
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@gestoriq.com
ADMIN_PASSWORD=senha123
